<div th:fragment= "div(attendancedata, userId)" class="attendancetab">
    <link rel="stylesheet" href="../static/attendance.css" th:href="@{@{/css/attendance.css}}">
    <ul>
        <li class="attendancetitle">
            <div th:text="${attendanceData.title}"></div>
        </li>
        <li class="attendancedate">
            <div th:text="${attendanceData.date}"></div>
        </li>
        <ul th:each="attendanceuser : ${attendanceData.attendeesResponses}">
            
            <div th:if="${attendanceuser.response == T(es.ucm.fdi.iw.model.sessionattendance.AttendanceResponseEnum).CONFIRMED}">
                <div th:if="${attendanceuser.user.id != userId}">
                    <li class="attendanceuser_confirmed">
                        <div th:text="${attendanceuser.user.username}"></div>
                    </li>
                </div>      
            </div>

            <div th:if="${attendanceuser.response == T(es.ucm.fdi.iw.model.sessionattendance.AttendanceResponseEnum).DENIED}">
                <div th:if="${attendanceuser.user.id != userId}">
                    <li class="attendanceuser_denied">
                        <div th:text="${attendanceuser.user.username}"></div>
                    </li>
                </div>
            </div>

            <div th:if="${attendanceuser.response == T(es.ucm.fdi.iw.model.sessionattendance.AttendanceResponseEnum).PENDING}" >
                

                <div  th:if="${attendanceuser.user.id == userId}">
                    <li class="attendanceuser_select">
                        <form th:action="@{/set_attendance}" method="post">
                            <input type="hidden" name="gameId" th:value="${gameId}" style="display: none;"/>
                            <input type="hidden" name="game_session_id" th:value="${attendanceData.id}" style="display: none;"/>
                            <input type="hidden" name="attendance_value" th:value="'true'" style="display: none;"/>
                            <button>
                                <img src="img\accept.png" alt="Accept" class="accept">
                            </button>
                        </form>
                        <div th:text="${attendanceuser.user.username}"></div>
                        <form th:action="@{/set_attendance}" method="post">
                            <input type="hidden" name="gameId" th:value="${gameId}" style="display: none;"/>
                            <input type="hidden" name="game_session_id" th:value="${attendanceData.id}" style="display: none;"/>
                            <input type="hidden" name="attendance_value" th:value="'false'" style="display: none;"/>
                            <button>
                                <img src="img\cancel.png" alt="Accept" class="deny">
                            </button>
                        </form>
                    </li>
                </div>
            </div>

            <div th:if="${attendanceuser.user.id != userId}">
                <li class="attendanceuser_pending">
                    <div th:text="${attendanceuser.user.username}"></div>
                </li>
            </div>

        </ul>
    </ul>
</div>