<header th:fragment="header">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navBG">

        <!-- nombre del sitio; es un enlace que lleva a la página ppal -->
        <a class="navbar-brand navTitle" th:href="@{/}" href="/">
            <img th:src="@{/img/adlistlogo.png}" src="/img/adlistlogo.png" alt="Logo AL" width="32" height="32"
                class="d-inline-block align-text-top navText">
                <span class="navText">
                    Adventurer's List
                </span>
        </a>
        <!-- menu hamburguesa si no cabe todo -->
        <a th:href="@{/}" href="/" class="navInicio">
            <button class="navButton">
                Inicio
            </button>
        </a>

        <a href="busqueda.html" th:href="@{/busqueda/}" class="navBusqueda">
            <button class="navButton">
                Buscar partidas
            </button>
        </a>
        <th:block th:if="${session.u}" class="navLogin">
            <th:block th:if="${session.u.hasRole('ADMIN')}" class="navAdmin">
                <a href="admin.html" th:href="@{/admin/}" class="navAdmin">
                    <button th:text="Administrar" class="navButton">
                        Administrar
                    </button>
                </a>
            </th:block>
        </th:block>
        <th:block th:if="${session.u}" class="navLogin">
            <div class="nav-item mx-2 navlogin">
                <a class="nav-link" th:href="@{'/user/' + ${session.u.id}}">
                    <img class="iwthumb rounded navprofile" th:src="@{/user/{id}/pic(id=${session.u.id})}">
                    <span th:text="${session.u.username}">Pepe</span>
                </a>
            </div>
            <div class="nav-item align-self-center navlogout">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="navButton">Cerrar sesión</button>
                </form>
            </div>
        </th:block>
        <th:block th:unless="${session.u}">
            <div class="nav-item mx-2 navLogin">
                <a th:href="@{/login}" href="/login">
                    <button class="navButton">
                        Iniciar sesión
                    </button>
                </a>
            </div>
        </th:block>
    </nav>
</header>