<link rel="stylesheet" th:href="@{/css/index.css}">
<div th:fragment="missionsButtons">

    <div id="missionsButtons">
        <ul id style="overflow: hidden; list-style-type: none;">
            <li style="float: left;"><a href="landingpage.html" th:href="@{/}"><button>Pagina principal</button></a></li>
            <li style="float: left;"><button>Marcadores</button></li>
            <li style="float: left;"><a href="busqueda.html" th:href="@{busqueda}"><button>Anuncios</button></a></li>
            <li style="float: left;"><a href="perfil.html" th:href="@{perfil}"><button>Perfil</button></a></li>
        </ul>
    </div>
</div>