.attendancepaper{
    background: url(../img/quest.png) no-repeat center ;
    background-size: contain;
}

.attendancetitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    /* color: beige; */
    list-style-type: none;
}

.attendancedate {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    /* color: beige; */
    list-style-type: none;
}

.attendanceuser_confirmed {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: limegreen;
}

.attendanceuser_denied {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: red;
    list-style-type: none;
}

.attendanceuser_pending {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    /* color: gainsboro; */
}

.attendanceuser_select {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    /* color: gainsboro;     */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;   
}

.attendanceuser_select img {
    width: 25px;
    height: 25px;
    padding: 0%;
    
}

.attendanceuser_select button {
    width: 40px;
    height: 40px;
}

