.navprofile {
    max-height: 50px;
    max-width: 50px;
}

.navBG {
    background-image: url("../img/wood_texture_kuwahara_dark.png");
    color: bisque;
    display: grid;
    grid-template-columns: 15% 5% 15% 25% 10% 15% 15%;
}

.navText {
    color: bisque;
}

.navButton {
    background-image: url("../img/wood_texture_kuwahara.png");
    border-color: black;
    border-width: 3px;
    color: bisque;
    margin: 0 10px 0 10px;
}

.navTitle {
    grid-column: 1 / 2;
}

.navInicio {
    grid-column: 2 / 3;
}

.navBusqueda {
    grid-column: 3 / 4;
}

.navAdmin {
    grid-column: 5 / 6;
}

.navlogin {
    grid-column: 6 / 7;
}

.navlogout {
    grid-column: 7 / 8;
}