/* .text {
    display: inline-block;
    width: 46%;
}

.username {
    font-weight: bold;
}

.messageText {
    font-style: oblique;
}

.profilePicture {
    display: inline-block;
    margin-top: 0%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.messageContainer {
    background-color: #e0cc9f;
    align-items: center;
} */

.text {
    flex: 2 1 auto;
    width: 46%;
}

.username {
    padding-top: 10px;
    font-weight: bold;
    color: black;
}

.messageText {
    font-style: oblique;
    color: black;
}

.profilePicture {
    flex: 1 1;
    margin: 10 10 10 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.messageContainer {
    background-color: #e0cc9f;
    align-items: center;
    display: flex;
    width: max-content;
    min-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.delete-button {
    background-color: rgb(255, 75, 75);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
