body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 1200px;
    margin: 20px auto;
}
#viewButtons {
    grid-column: 1 / span 2;
    background-color: #666;
    padding: 10px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

#viewButtons ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#viewButtons li {
    display: inline-block;
    margin-right: 10px;
}

#viewButtons button {
    background-color: #999;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#viewButtons button:hover {
    background-color: #777;
}
.profile-module {
    grid-column: 1 / span 2;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.username {
    font-size: 20px;
}
.sidebar {
    background-image: url(../img/wood_texture_kuwahara.png); 
    background-size: cover;
    filter: brightness(60%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-right: 20px;
}
.options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.option {
    margin-bottom: 10px;
}
.game-list {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center
}
.game-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}