.profilecontainer {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);

    background-image: url(../img/wood_texture_kuwahara.png);
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    padding: 5%;
    border-radius: 8px;
    border-color: sienna;
}

.profilepic{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.profilename {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    font-size: 4em;
    padding-left: 5%;
    color: whitesmoke;
}

.profilesettings {
    grid-column: 6 / 11;
    grid-row: 1 / 5;
    padding: 5%;
    max-width: 100%;
    color: bisque;
}

.activegames {
    grid-row: 5 / 8;
    grid-column: 1 / -1;
    max-width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    color: rgb(255, 255, 255);
}

.admindata
{
    grid-row: 8 / 10;
    grid-column: 1 / -1;
    max-width: 100%;
    color: bisque;
}