.sessionClass {
    background-image: url(../img/wood_texture_kuwahara_dark.png); 
    padding: 10px;
    margin-bottom: 10px;
}

.sessionTitle {
    font-size: 18px;
    font-weight: bold;
    color: #d3b3a4;
}

.sessionDate {
    font-size: 12px;
    color: #af9a90;
}

.sessionPlace {
    font-size: 12px;
    color: #d3b3a4;
}