<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Adventurer's List: Admin</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/header :: header"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Administración</h1>
        </div>

        <div th:if="${reports}">
            <ul>
                <li th:each= "report:${reports}">
                    <div th:text="${report.reportedGame.name}">
                    </div>
                    <div th:text="${report.reportedGame.description}">
                    </div>
                    <div thth:text="${report.reason}" >
                    </div>
                </li>
            </ul>
        </div>
        <div th:if="${reports.empty}">
            <h2>No hay reportes que gestionar!</h2>
        </div>
        
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>