<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Partidas</title>
    <link rel="stylesheet" href="../static/busqueda.css" th:href="@{/css/busqueda.css}">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/css/main.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include the meta tag for CSRF token -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body class="background">
    <div class="missions-table" style="max-width: 90%; margin: 5%;">
    
        <div class="container">
            <div id="viewButtons">
                <div th:replace="~{fragments/missionsButtons.html :: missionsButtons}">
                    no funcó :(
                </div>
            </div>
            <div class="search-bar">
                <h1>Buscador de Partidas</h1>
                <div class="search-form">
                    <input type="text" id="searchInput" placeholder="Buscar partidas...">
                    <button onclick="search()">Buscar</button>
                </div>
            </div>
            <div class="sidebar">
                <h2>Filtros</h2>
                <h4>Experiencia requerida</h4>
                <ul id="experienceCheckboxes">
                    <li>
                        <input type="checkbox" id="exp-beginner" value="BEGINNER" onchange="search()">
                        <label for="exp-beginner">Principiante</label>
                        <a>(</a><a th:text="${cantidadBeginner}">Cantidad</a><a>)</a>
                    </li>
                    <li>
                        <input type="checkbox" id="exp-intermediate" value="INTERMEDIATE" onchange="search()">
                        <label for="exp-intermediate">Intermedio</label>
                        <a>(</a><a th:text="${cantidadIntermediate}">Cantidad</a><a>)</a>
                    </li>
                    <li>
                        <input type="checkbox" id="exp-advanced" value="ADVANCED" onchange="search()">
                        <label for="exp-advanced">Avanzado</label>
                        <a>(</a><a th:text="${cantidadAdvanced}">Cantidad</a><a>)</a>
                    </li>
                </ul>

                <h4>Versión</h4>
                <ul id="versionCheckboxes">
                    <li>
                        <input type="checkbox" id="version-1" value="FIRST_VERSION" onchange="search()">
                        <label for="version-1">DnD 1st Edition</label>
                        <a>(</a><a th:text="${cantidadV1}">Cantidad</a><a>)</a>
                    </li>
                    <li>
                        <input type="checkbox" id="version-2" value="SECOND_VERSION" onchange="search()">
                        <label for="version-2">DnD 2nd Edition</label>
                        <a>(</a><a th:text="${cantidadV2}">Cantidad</a><a>)</a>
                    </li>
                    <li>
                        <input type="checkbox" id="version-3" value="THIRD_VERSION" onchange="search()">
                        <label for="version-3">DnD 3rd Edition</label>
                        <a>(</a><a th:text="${cantidadV3}">Cantidad</a><a>)</a>
                    </li>
                    <li>
                        <input type="checkbox" id="version-3.5" value="THIRD_VERSION_ADVANCED" onchange="search()">
                        <label for="version-3.5">DnD 3.5th Edition</label>
                        <a>(</a><a th:text="${cantidadV35}">Cantidad</a><a>)</a>
                    </li>
                    <li>
                        <input type="checkbox" id="version-4" value="FOURTH_VERSION" onchange="search()">
                        <label for="version-4">DnD 4th Edition</label>
                        <a>(</a><a th:text="${cantidadV4}">Cantidad</a><a>)</a>
                    </li>
                    <li>
                        <input type="checkbox" id="version-5" value="FIFTH_VERSION" onchange="search()">
                        <label for="version-5">DnD 5th Edition</label>
                        <a>(</a><a th:text="${cantidadV5}">Cantidad</a><a>)</a>
                    </li>
                </ul>
                <!-- Agrega más filtros según tu necesidad -->
            </div>
            <div class="search-results">
                <h2>Lista de partidas</h2>
                <ul id="searchResults">
                    <!-- Los resultados de la búsqueda se mostrarán aquí -->
                </ul>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var token = /*[[${_csrf.token}]]*/ '';
        var header = "_csrf";

        function getCheckboxValues(checkboxGroup) {
            var values = [];

            // Iterate over the checkboxes in the specified group
            $('#' + checkboxGroup + ' input[type="checkbox"]:checked').each(function() {
                values.push($(this).val());
            });

            return values.join(",");
        }

        function search() {
            var experienceValues = getCheckboxValues('experienceCheckboxes');
            var versionValues = getCheckboxValues('versionCheckboxes');

            $.ajax({
                type: "GET",
                url: "/busqueda/gamequery",
                data: { 
                    searchQuery: document.getElementById("searchInput").value,
                    experienceFilter: experienceValues,
                    versionFilter: versionValues,
                    [header]: token
                },
                success: function(data) {
                    // Handle success
                    console.log("Received the following result:");
                    refreshResults();
                    data.forEach(function(game) {
                        console.log("Game:", game);
                        console.log("Name:", game.name);
                        console.log("System:", game.gamesystem);
                        console.log("Date:", game.date);
                        console.log("ID:", game.id);
                        console.log("---");
                        addQuestToResults(game);
                    });
                    if (data.length == 0) {
                        console.log("No hay partidas")
                        var searchResults = document.getElementById("searchResults");
                        var div = document.createElement('div');
                        div.textContent = "No hay partidas que cumplan estos requisitos"
                        searchResults.appendChild(div)
                    }
                },
                error: function(xhr, status, error) {
                    // Handle error
                }
            });
        }

        function refreshResults() {
            var searchResults = document.getElementById("searchResults");
            searchResults.innerHTML = "";
        }

        function addQuestToResults(quest) {
            var searchResults = document.getElementById("searchResults");
            searchResults.innerHTML += createQuestHTML(quest);
        }

        function createQuestHTML(quest) {
            // Create form element
            var form = document.createElement('form');
            form.setAttribute('method', 'get'); // Use 'get' method to navigate to a new page
            form.setAttribute('action', '/game'); // Set the action attribute to the desired URL
            var input = document.createElement('input');

            // Create input element for questID
            var input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', 'questID');
            input.setAttribute('value', quest.id);
            form.appendChild(input);

            // Create button element
            var button = document.createElement('button');
            button.setAttribute('id', 'partidapreview');
            button.setAttribute('class', 'mission container');

            // Create div1
            var div1 = document.createElement('div');
            div1.setAttribute('class', 'absolute-div div1');
            div1.setAttribute('th:text', quest.name);
            div1.textContent = quest.name;
            button.appendChild(div1);

            // Create div2
            var div2 = document.createElement('div');
            div2.setAttribute('class', 'absolute-div div2');
            div2.innerHTML = '<img id=profile-picture-' + quest.id + ' src="img/gatoque.jpg" alt="que" style="width: 100px; height: 100px;"/>';
            button.appendChild(div2);
            fetchGamePicture(quest.id)

            // Create div3
            var div3 = document.createElement('div');
            div3.setAttribute('class', 'absolute-div div3');
            div3.setAttribute('th:text', '${quest.system}');
            div3.textContent = quest.gamesystem;
            button.appendChild(div3);

            // Create div4
            var div4 = document.createElement('div');
            div4.setAttribute('class', 'absolute-div div4');
            div4.setAttribute('th:text', '${quest.Date}');
            div4.textContent = quest.date;
            button.appendChild(div4);

            form.appendChild(button);

            return form.outerHTML;
        }
        function fetchGamePicture(gameId) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/game/" + gameId + "/pic", true);
            xhr.responseType = "blob";
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var img = document.getElementById("profile-picture-" + gameId);
                    img.src = URL.createObjectURL(xhr.response);
                } else {
                    console.error("Failed to load profile picture for game ID " + gameId);
                }
            };
            xhr.send();
        }
    </script>
</body>
</html>
