<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Partidas</title>
    <link rel="stylesheet" href="../static/busqueda.css" th:href="@{/css/busqueda.css}">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/css/main.css}">
</head>
<body class="background">
    <div class="missions-table" style="max-width: 90%; margin: 5%;">
    
        <div class="container">
            <div class="search-bar">
                <h1>Buscador de Partidas</h1>
        <div class="search-form">
            <input type="text" id="searchInput" placeholder="Buscar partidas...">
            <button onclick="search()">Buscar</button>
        </div>
    </div>
    <div id="viewButtons">
        <ul id style="overflow: hidden; list-style-type: none;">
            <li style="float: left;"><a href="game.html"><button>Anuncios</button></a></li>
            <li style="float: left;"><button>Marcadores</button></li>
            <li style="float: left;"><a href="busqueda.html"><button>Anuncios</button></a></li>
            <li style="float: left;"><a href="perfil.html"><button>Perfil</button></a></li>
            <li style="float: left;"><a href="/"><button>Home</button></a></li>
        </ul>
    </div>
    <div class="sidebar">
        <h2>Filtros</h2>
        <ul>
            <li>
                <input type="checkbox" id="priceRange0-50" value="0-50">
                <label for="priceRange0-50">opcion</label>
            </li>
            <li>
                <input type="checkbox" id="priceRange50-100" value="50-100">
                <label for="priceRange50-100">opcion</label>
            </li>
            <li>
                <input type="checkbox" id="priceRange100-150" value="100-150">
                <label for="priceRange100-150">opcion</label>
            </li>
            <!-- Agrega más opciones de rango de precios según tu necesidad -->
        </ul>
        <br>
        <ul>
            <li>
                <input type="checkbox" id="starRating1" value="1">
                <label for="starRating1">opcion</label>
            </li>
            <li>
                <input type="checkbox" id="starRating2" value="2">
                <label for="starRating2">opcion</label>
            </li>
            <li>
                <input type="checkbox" id="starRating3" value="3">
                <label for="starRating3">opcion</label>
            </li>
            <li>
                <input type="checkbox" id="starRating4" value="4">
                <label for="starRating4">opcion</label>
            </li>
            <li>
                <input type="checkbox" id="starRating5" value="5">
                <label for="starRating5">opcion</label>
            </li>
        </ul>
        <!-- Agrega más filtros según tu necesidad -->
    </div>
    <div class="search-results">
        <h2>Lista de partidas</h2>
        <ul id="searchResults">
            <!-- Los resultados de la búsqueda se mostrarán aquí -->
        </ul>
    </div>
    </div>
</div>
</body>
</html>
