<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventurer's List: Nombre de la Partida</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include the meta tag for CSRF token -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<link rel="stylesheet" href="../static/game.css" th:href="@{/css/game.css}">
<link rel="stylesheet" href="../static/main.css" th:href="@{/css/main.css}">
<body class="background">
    <div class="missions-table" style="width: 90%; margin-left: 5%; margin-top: 5%;">
        <div class="game_container">
            <div id="viewButtons">
                <div th:replace="~{fragments/missionsButtons.html :: missionsButtons}">
                    no funcó :(
                </div>
            </div>
            <div class="image_container">
                <img src="img/gatoque.jpg"/>
            </div>
            <div class="gamedata"><ul class="list">
                <li><h1 th:text="${game.name}">Title</h1></li>
                <li><h2 th:text="${game.gamesystem}">System</h2></li>
                <li><h3 th:text="${game.meeting}">Schedules</h3></li>
            </ul>
        </div>
        
            
            <div class="genericlist">
                Director de Juego:
                <ul class="list">
                    <li th:text="${game.owner.username}">Usuario</li>
                </ul>
                Jugadores:
                <ul class="list" >
                
                    <li th:each="user : ${users}">
                        <div th:text="user">user</div>
                    </li>
                 
                    
                </ul>
            </div>
            <div class="description" th:text="${game.description}">
                desc
            </div>
            <div class="location">
                Dónde se juega
                <ul class="genericlist">
                    <div class="image_container">
                        <img src="resources/gatoque.jpg"/>
                    </div>
                </ul>
                <!-- Esto si el usuario es jugador de la partida, se saca desde th -->
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link a la partida</a>
            </div>
            <div class="button_container">
                <ul class="list">
                    <li>
                        <button id="joinLeaveButton" onclick="joinOrLeaveGame()">Unirte a la partida</button>
                    </li>
                </ul>
            </div>
            
            
        </div>
        <div class="messageBoard">
            <ul>
                <li th:each="message : ${messageLog}">
                    <div th:replace= "~{fragments/message.html :: div(message=${message})}"></div>
                </li>
            </ul> 
            <form th:action="@{/game/sendMessage}" method="post">
                <input type="hidden" name="gameId" th:value="${game.id}"/>
                <input type="text" name="message"/>
                <button>Enviar</button>
        </div>
    </div>

    <script th:inline="javascript">
        var isJoined = /*[[${userIsJoined}]]*/ false;

        $(document).ready(function() {
            updateButtonText(isJoined);
        });
    
        function joinOrLeaveGame() {
            var gameId = /*[[${game.id}]]*/ '';
            var token = /*[[${_csrf.token}]]*/ '';
            var header = "_csrf";
    
            var parsedGameId = parseInt(gameId);
            var url = isJoined ? "/game/leave" : "/game/join";
            
            $.ajax({
                type: "POST",
                url: url,
                data: { 
                    gameId: parsedGameId,
                    [header]: token
                },
                success: function(data) {
                    // Handle success
                    isJoined = !isJoined; // Toggle join status
                    updateButtonText(isJoined);
                },
                error: function(xhr, status, error) {
                    // Handle error
                }
            });
        }
    
        function updateButtonText(isJoined) {
            if (isJoined) {
                $(".messageBoard").show();
                var buttonText = "Salir de la partida";
            }
            else {
                $(".messageBoard").hide();
                var buttonText = "Unirte a la partida";
            }
            $("#joinLeaveButton").text(buttonText);
        }
    </script>
    

</body>

</html>