<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../static/css/bootstrap-5.1.3.css" th:href="@{/css/bootstrap-5.1.3.css}">
    <title>Página Principal</title>
</head>
<body class="background">

<header th:replace="fragments/header :: header"></header>

<div class = "container">
    
    


<div id="contentBox" class="missions-table">
        
        <div id="landingContainer">
            
            <h1 class="landingTitle">Mis Partidas</h1>
                
            <form th:action="@{/newGame}" method="get" class="landingCreateGame">
                <!-- <input type="hidden" name="userID" value="${user.id}"/> --> 
                <button  name="createGame" >
                    <div class="absolute-div div1"><h3>Crear nueva campaña</h3></div>
                </button>
            </form>

        </div>
    
        <ul class="mission-list">
            <li th:each="quest : ${availableQuests}">
                <div th:replace="fragments/quest :: form(quest=${quest})"></div>
                <!-- <form th:action="@{/quest}" method="post">
                    <input type="hidden" name="questID" th:value="${quest.id}"/>
                    <button id="partidapreview" class="mission container">
                        <div class="absolute-div div1" th:text="${quest.name}"><h2>Nombre de la campaña</h2></div>
                        <div class="absolute-div div2"><img src="img/gatoque.jpg" alt="que" style="width: 100px; height: 100px;"/></div>
                        <div class="absolute-div div3" th:text="${quest.system}">Sistema</div>
                        <div class="absolute-div div4" th:text="${quest.Date}">Fecha</div>
                    </button>
                </form> -->
            </li>
            
        </ul>
        </div>
    </div>
</body>
</html>