<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/head :: header" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventurer's List: Nombre de la Partida</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include the meta tag for CSRF token -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<link rel="stylesheet" href="../static/game.css" th:href="@{/css/game.css}">
<link rel="stylesheet" href="../static/main.css" th:href="@{/css/main.css}">
<link rel="stylesheet" href="../static/message.css" th:href="@{/css/message.css}">
<body class="background">
    <div class="missions-table">
        <form th:action="createNewGame" method="post">
            Nombre de la partida<br/>
            <input type="text" name="name"/><br/>
            Sistema<br/>
            <select name="gamesystem" id="gamesystem">
                <option value="FIRST_VERSION">Dungeons and Dragons 1st Edition</option>
                <option value="SECOND_VERSION">Dungeons and Dragons 2nd Edition</option>
                <option value="THIRD_VERSION">Dungeons and Dragons 3rd Edition</option>
                <option value="THIRD_VERSION_ADVANCED">Dungeons and Dragons 3.5th Edition</option>
                <option value="FOURTH_VERSION">Dungeons and Dragons 4th Edition</option>
                <option value="FIFTH_VERSION">Dungeons and Dragons 5th Edition</option>
            </select><br/>
            Fecha de la primera sesión<br/>
            <input type="date" name="date"/><br/>
            Dónde la vas a hacer?<br/>
            <input type="text" name="meeting"/><br/>
            Nivel de experiencia<br/>
            <select name="experience" id="experience">
                <option value="BEGINNER">Principiante</option>
                <option value="INTERMEDIATE">Intermedio</option>
                <option value="ADVANCED">Avanzado</option>
            </select><br/>
            Descripción<br/>
            <input type="text" style="height: 300px;" name="description"/><br/>
            <button
                type="submit"
                class="btn btn-primary"
            >
                Submit
            </button>
            
        </form>
    </div>

</body>

</html>