<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="perfil.css">
    <title>Perfil de Usuario</title>
</head>
<body>
    <div class="container">
        <div class="profile-module">
            <img src="img/gatoque.jpg" alt="Profile Picture" class="profile-picture">
            <div class="username">Nombre de Usuario</div>
        </div>
        <div id="viewButtons">
            <ul id style="overflow: hidden; list-style-type: none;">
                <li style="float: left;"><a href="game.html"><button>Pagina de partida</button></a></li>
                <li style="float: left;"><button>Marcadores</button></li>
                <li style="float: left;"><a href="busqueda.html"><button>Anuncios</button></a></li>
                <li style="float: left;"><a href="perfil.html"><button>Perfil</button></a></li>
                <li style="float: left;"><a href="/"><button>Home</button></a></li>
            </ul>
        </div>
            <div class="sidebar">
                <h3>Opciones de Configuración</h3>
                <ul class="options">
                    <li class="option">Configuración 1</li>
                    <li class="option">Configuración 2</li>
                    <li class="option">Configuración 3</li>
                </ul>
            </div>
            <div class="game-list">
                <h2>Partidas Activas</h2>
                <div class="game-item">
                    <h3>Partida 1</h3>
                    <p>Jugadores: 4/6</p>
                    <button>Unirse</button>
                </div>
                <div class="game-item">
                    <h3>Partida 2</h3>
                    <p>Jugadores: 2/4</p>
                    <button>Unirse</button>
                </div>
            </div>
    </div>
</body>
</html>
