<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <div id="appTitle">
        <h1>Adventurer's List</h1>
    </div>
    <div id="viewButtons">
        <ul style="overflow: hidden; list-style-type: none;">
            <li style="float: left;"><button>Partidas</button></li>
            <li style="float: left;"><button>Marcadores</button></li>
            <li style="float: left;"><a href="busqueda.html"><button>Anuncios</button></a></li>
        </ul>
    </div>
    <div id="contentBox">
        <ul style="list-style-type: none;">
            <li><div id="partidapreview">
                <div style="float: left; margin: 10px;"><img src="resources/gatoque.jpg" alt="que" style="width: 100px; height: 100px;"/></div>
                <div ><h2>Nombre de la campaña</h2></div>
                <div ><h3>Sistema</h3></div>
                <div style="max-width: 600px;">Sabías que Final Fantasy XIV tiene una prueba gratuita que incluye la totalidad de A Realm Reborn y la expansi´´on ganadora de premios Heavensward y la expansion ganadora de premios Stormblood hasta el nivel 70 sin restricción al tiempo de juego?</div>
            </div></li>
            <li><div id="partidapreview">
                <div style="float: left; margin: 10px;"><img src="resources/gatoque.jpg" alt="que" style="width: 100px; height: 100px;"/></div>
                <div ><h2>Nombre de la campaña</h2></div>
                <div ><h3>Sistema</h3></div>
                <div style="max-width: 600px;">Sabías que Final Fantasy XIV tiene una prueba gratuita que incluye la totalidad de A Realm Reborn y la expansi´´on ganadora de premios Heavensward y la expansion ganadora de premios Stormblood hasta el nivel 70 sin restricción al tiempo de juego?</div>
            </div></li>
            <li><div id="partidapreview">
                <div style="float: left; margin: 10px;"><img src="resources/gatoque.jpg" alt="que" style="width: 100px; height: 100px;"/></div>
                <div ><h2>Nombre de la campaña</h2></div>
                <div ><h3>Sistema</h3></div>
                <div style="max-width: 600px;">Sabías que Final Fantasy XIV tiene una prueba gratuita que incluye la totalidad de A Realm Reborn y la expansi´´on ganadora de premios Heavensward y la expansion ganadora de premios Stormblood hasta el nivel 70 sin restricción al tiempo de juego?</div>
            </div></li>
            <li><div id="partidapreview">
                <div style="float: left; margin: 10px;"><img src="resources/gatoque.jpg" alt="que" style="width: 100px; height: 100px;"/></div>
                <div ><h2>Nombre de la campaña</h2></div>
                <div ><h3>Sistema</h3></div>
                <div style="max-width: 600px;">Sabías que Final Fantasy XIV tiene una prueba gratuita que incluye la totalidad de A Realm Reborn y la expansi´´on ganadora de premios Heavensward y la expansion ganadora de premios Stormblood hasta el nivel 70 sin restricción al tiempo de juego?</div>
            </div></li>
                
        </ul>
    </div>
</body>
</html>